/* cardo-regular - latin */
@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  src: local('Cardo'), local('Cardo-Regular'),
  url('../font/PTSerif-Regular.ttf') format('truetype'),
}
/* cardo-italic - latin */
@font-face {
  font-family: 'Cardo';
  font-style: italic;
  font-weight: 400;
  src: local('Cardo Italic'), local('Cardo-Italic'),
  url('../font/PTSerif-Italic.ttf') format('truetype'),
}
/* cardo-700 - latin */
@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 700;
  src: local('Cardo Bold'), local('Cardo-Bold'),
  url('../font/PTSerif-Bold.ttf') format('truetype'),
}
/* fira-sans-regular - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
  url('../font/PTSansNarrow-Regular.ttf') format('truetype'),
}
/* fira-sans-500 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../font/fira-sans-v8-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Medium'), local('FiraSans-Medium'),
  url('../font/PTSansNarrow-Regular.ttf') format('truetype'),
}
/* fira-sans-700 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Sans Bold'), local('FiraSans-Bold'),
  url('../font/PTSansNarrow-Bold.ttf') format('truetype'),
}
